{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "globals": {
    __dirname: true
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "react/jsx-indent": 0,
    "react/prop-types": 0
  }
}
